@import "mapbox-gl";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

#__next .mapboxgl-popup-content {
  padding: 0;
  background-color: red;
}

#__next .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: red;
}
#__next .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: red;
}
#__next .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: red;
}
#__next .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: red;
}

h1,
h2,
h3,
code,
pre {
  font-family: "Inconsolata", monospace;
}

.mapboxgl-popup {
  opacity: 0;
}

.contents-markdown > * {
  margin-bottom: 0.5rem;
}

.contents-markdown h1 {
  @apply text-3xl;
}

.contents-markdown h2 {
  @apply text-2xl;
}

.contents-markdown h3 {
  @apply text-xl;
}

.contents-markdown h4 {
  @apply text-lg;
}

.contents-markdown h6 {
  @apply text-sm;
}
