@tailwind base;
@tailwind components;
@tailwind utilities;

path {
  animation-name: path-animate-in-1;
  animation-duration: 1200ms;
}

path:nth-child(3n) {
  animation-name: path-animate-in-2;
  animation-duration: 900ms;
}

path:nth-child(3n + 1) {
  animation-name: path-animate-in-3;
  animation-duration: 800ms;
}

@keyframes path-animate-in-1 {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes path-animate-in-2 {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes path-animate-in-3 {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
